/* -------------------- */
/* CSS reset
/* -------------------- */

html {
  background: #fff;
  color: #333;
  width: 100vw;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* -------------------- */
/* setting
/* -------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  text-align: center;
  line-height: 280%;
  letter-spacing: 0.12rem;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  text-align: left;
  transition: all 0.4s;
}

a:hover {
  opacity: 60%;
}

p {
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (min-width: 480px) {
  p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.highlight {
  background: linear-gradient(transparent 60%, #d9333e48 60%);
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  padding: 2rem 0;
  letter-spacing: 0.5rem;
}

h2 {
  padding: 1rem 0;
  letter-spacing: 0.3rem;
}

img {
  vertical-align: bottom;
}

i {
  margin-right: 1rem;
}

i.yellow {
  color: #ffc20e;
}

i.gray {
  color: #ddd;
}

i.red {
  color: #d9333f;
}

table {
  margin: 5vh auto;
}

td {
  padding: 0.2rem 1rem;
}

td i {
  margin: 0;
}

/* -------------------- */
/* global navigation
/* -------------------- */

.top-icon {
  width: 10vw;
  position: fixed;
  z-index: 900;
  top: 20px;
  left: 30px;
}

.top-icon a img {
  width: 10vw;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .top-icon {
    width: 5vw;
  }
  .top-icon a img {
    width: 5vw;
  }
}

/* -------------------- */
/* global navigation
/* -------------------- */

#global-nav {
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  transition: all 0.4s;
}

#global-nav.panel-active {
  top: 0;
}

#global-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#global-nav li {
  list-style: none;
  text-align: center;
}

#global-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 3vh;
  display: block;
  letter-spacing: 0.1rem;
  transition: all 0.4s;
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  #global-nav li a {
    font-size: 2rem;
  }
}

#global-nav li a:hover {
  opacity: 40%;
}

.open-btn {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: all 0.4s;
}

.open-btn:hover {
  opacity: 60%;
}

.open-btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  width: 45%;
}

.open-btn span:nth-of-type(1) {
  top: 15px;
}

.open-btn span:nth-of-type(2) {
  top: 28px;
}

.open-btn span:nth-of-type(3) {
  top: 41px;
}

.open-btn.active span:nth-of-type(1) {
  top: 23px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
  background-color: #fff;
}

.open-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.open-btn.active span:nth-of-type(3) {
  top: 35px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
  background-color: #fff;
}

/* -------------------- */
/* left navigation
/* -------------------- */

#left-nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  #left-nav {
    display: block;
    width: auto;
    height: 300px;
    position: fixed;
    top: calc(50vh - 150px);
    left: 30px;
    z-index: 900;
    text-align: left;
    line-height: 4rem;
  }

  #left-nav ul {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  #left-nav ul li {
    position: relative;
  }

  #left-nav i {
    font-size: 0.7rem;
  }

  .left-link {
    position: relative;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }

  .left-link:before {
    border-top: 1px solid;
    content: "";
    width: 1.5rem;
    margin-right: 1rem;
  }

  .left-link.is-active {
    color: #333;
  }
}

/* -------------------- */
/* top
/* -------------------- */

.top-wrapper {
  align-content: center;
}

.top-logo img {
  width: 80vw;
  margin: 10vh auto 0 auto;
}

.top-logo a:hover {
  opacity: 100%;
}

.top-img {
  width: 80vw;
  margin: 10vh auto 0 auto;
}

.top-img a:hover {
  opacity: 100%;
}

@media screen and (min-width: 480px) {
  .top-img img {
    max-width: 80vw;
  }

  .top-logo img {
    max-width: 80vw;
  }

  .scroll-arrow {
    display: none;
  }

  .scroll-arrow::before {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .top-img img {
    width: auto;
    height: 70vh;
  }

  .top-logo img {
    width: auto;
    height: 40vh;
  }

  .scroll-arrow {
    display: inline-block;
    padding-top: 70px;
    position: relative;
  }
  .scroll-arrow::before {
    animation: scroll 3.5s infinite;
    border: solid #333;
    border-width: 0 0 4px 4px;
    content: "";
    display: inline-block;
    margin: auto;
    transform: rotate(-45deg);
    width: 2vw;
    height: 2vw;
  }
  @keyframes scroll {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    80% {
      transform: rotate(-45deg) translate(-30px, 30px);
    }
    0%,
    80%,
    100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
}

/* -------------------- */
/* footer
/* -------------------- */

.footer {
  width: 100vw;
  height: 20vh;
  margin-top: 30vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  padding: 0.5rem 0;
  text-align: center;
}

/* -------------------- */
/* fadeout
/* -------------------- */

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
}

body.fadeout::after {
  opacity: 1;
}

/* -------------------- */
/* button
/* -------------------- */

.btn {
  line-height: 1.5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
}

.btn:hover {
  opacity: 80%;
  transform: translateY(4px);
}

.btn i {
  color: #fff;
}

.btn.small-btn {
  width: 5rem;
  height: 0.5rem;
  margin: 1rem auto;
  background-color: #333;
  border-radius: 5rem;
}

.btn.btn-invalid {
  pointer-events: none;
  background-color: #aaa;
}

.btn.brack-btn {
  width: 15rem;
  height: 2rem;
  margin: 1rem auto;
  background-color: #333;
  border-radius: 5rem;
}

.btn.flat-btn {
  width: 20vw;
  margin: 0 auto;
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #333;
  font-size: 1.5rem;
}

.btn.flat-btn {
  opacity: 100%;
  transform: translateY(0);
}

.btn.flat-btn span {
  position: relative;
}

.btn.flat-btn:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #ffc20e;
}

.btn.flat-btn:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* div link */

.div-link {
  position: relative;
  border-radius: 1rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.div-link:hover {
  transform: translateY(4px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.div-link .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------- */
/* section
/* -------------------- */

.section {
  width: auto;
  margin: 10vh 10vw;
  padding: 3vh 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title:before,
.section-title:after {
  border-top: 1px solid;
  content: "";
  width: 5em;
}

.section-title:before {
  margin-right: 1em;
}

.section-title:after {
  margin-left: 1em;
}

.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.section img {
  margin: 5vh 0 2vh 0;
  max-width: 80vw;
  -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}

@media screen and (min-width: 480px) {
  .section img {
    margin: 5vh 0;
    max-width: 80vw;
  }
}

@media screen and (min-width: 1024px) {
  .section img {
    margin: 5vh 0;
    max-width: 60vw;
  }
}

.section .portrait-img {
  max-height: 80vh;
}

.section .small-img {
  width: 30vw;
}

.section .low-img {
  width: auto;
  height: 30vh;
}

.section .face-img {
  width: 15vw;
  height: auto;
}

.section .stamp-img {
  width: 50vw;
  height: auto;
}

@media screen and (min-width: 480px) {
  .section .stamp-img {
    width: 20vw;
    min-width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .section .stamp-img {
    width: 15vw;
    height: auto;
  }
}

.align-center p {
  text-align: center;
}

.section-box {
  margin: 6vh 0 8vh 0;
}

@media screen and (min-width: 1024px) {
  .lead p {
    margin: 5vh auto;
    padding: 0 5vw;
    width: 50vw;
  }
}

.lead a {
  border-bottom: 1px dotted #333;
  padding-bottom: 0.1em;
}

.icon-box a {
  border: none;
}

.icon-box a:hover {
  opacity: 100%;
}

.icon-box img {
  width: auto;
  height: 3rem;
  margin: 5vh 1rem 0 0;
}

/* -------------------- */
/* modal
/* -------------------- */

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: scroll;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.bigimg img {
  position: relative;
  max-width: 90vw;
  margin: 5vh auto 3vh auto;
}

@media screen and (min-width: 1024px) {
  .bigimg img {
    width: 60%;
    max-width: 60vw;
  }
}

.close-btn {
  position: relative;
  z-index: 9999;
  margin: 0 auto;
  cursor: pointer;
  width: 70px;
  height: 70px;
  transition: all 0.4s;
}

.close-btn:hover {
  opacity: 60%;
}

.close-btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  width: 45%;
}

.close-btn span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
  background-color: #fff;
}

.close-btn span:nth-of-type(2) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
  background-color: #fff;
}

/* -------------------- */
/* banner box
/* -------------------- */

.works-wrapper h1 {
  margin-bottom: 5vh;
}

.banner-wrapper {
  width: 80vw;
  margin: 0 auto;
}

.banner-box {
  width: 100%;
  height: fit-content;
  margin: 5vh auto;
}

.banner-img {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  max-width: 100%;
  height: 40vh;
  margin: 0 auto;
  object-fit: contain;
}

.banner-caption {
  padding: 0 2rem 2rem 2rem;
}

.banner-caption h2 {
  margin: 1rem 1rem 0 1rem;
  border-top: 1px solid#ddd;
}

.banner-caption p {
  font-size: 1rem;
  line-height: 150%;
  margin: 0 2rem 2rem 2rem;
}

@media screen and (min-width: 1024px) {
  .banner-wrapper {
    display: flex;
  }

  .banner-box {
    width: 22%;
    margin: 3vh auto;
  }

  .banner-img img {
    max-width: 100%;
    height: 20vh;
  }
}

/* -------------------- */
/* movie box
/* -------------------- */

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box div {
  margin: 1vh 1vw;
}

.movie-box {
  width: 100%;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.movie-wrapper iframe {
  width: 100%;
  height: 100%;
}

.movie-text {
  padding: 1vh 1vw;
}

@media screen and (min-width: 480px) {
  .movie-wrapper {
    width: 80vw;
  }
  .movie-text {
    width: auto;
    height: auto;
    margin: 10vh 10vw;
  }
}

@media screen and (min-width: 1024px) {
  .movie-wrapper {
    width: 40vw;
  }

  .movie-text {
    width: 20vw;
    height: auto;
    margin: 10vh 10vw;
  }
}

/* -------------------- */
/* slider
/* -------------------- */

.slider-wrapper {
  text-align: center;
}

.slider-ul {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.slider-ul img {
  width: 100%;
  height: 100%;
  margin: 3vh auto;
  object-fit: cover;
}

.slider-ul.small-slider {
  width: 40vw;
}

@media screen and (min-width: 480px) {
  .slider-ul.small-slider {
    width: 40vw;
  }
}

@media screen and (min-width: 1024px) {
  .slider-ul.small-slider {
    width: 20vw;
  }
}

.slider-ul.small-slider img {
  width: 100%;
  height: 100%;
  margin: 3vh auto;
  padding: 0 1rem;
}

.slider-ul.icon-slider {
  width: 50vw;
}

.slider-ul.icon-slider img {
  width: 50vw;
  height: auto;
  margin: 3vh auto;
  padding: 0 1rem;
}

@media screen and (min-width: 480px) {
  .slider-ul.icon-slider {
    width: 20vw;
    min-width: 200px;
  }
  .slider-ul.icon-slider img {
    width: 20vw;
    min-width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .slider-ul.icon-slider {
    width: 15vw;
  }

  .slider-ul.icon-slider img {
    width: 15vw;
    height: auto;
  }
}

.slick-dots li button:before {
  font-size: 1.5rem;
}

/* -------------------- */
/* dual panel
/* -------------------- */

.dualpanel-item {
  max-width: 30vw;
  margin: 0 auto;
}

.dualpanel-item img {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .dualpanel-wrapper {
    width: 80vw;
    margin-bottom: 5vh;
  }

  .dualpanel-item img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .dualpanel-wrapper {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dualpanel-item {
    margin: 0 2rem;
  }
}

.dualpanel-wrapper.inline-panel {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dualpanel-wrapper.inline-panel.dualpanel-item {
  margin: 0 2rem;
}

/* -------------------- */
/* scroll img
/* -------------------- */

.scroll-img {
  width: 50vw;
  height: 50vh;
  margin: 5rem auto 1rem auto;
  padding: 1rem;
  overflow: scroll;
}

.scroll-img img {
  width: 50vw;
}

/* -------------------- */
/* slide share
/* -------------------- */

.slide-box {
  margin: 5vh auto;
}

.slide-box iframe {
  width: 60vw;
  height: 40vw;
}

/* -------------------- */
/* others
/* -------------------- */

.instagram {
  margin: 5vh 0;
}

.myprofile-img {
  width: 20vw;
  max-width: 400px;
  border-radius: 50%;
}
